---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ListOfBoxes from "../components/ListOfBoxes.astro";
const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <main class="m-auto max-w-4xl">
    <Title />
    <ListOfBoxes />
  </main>
</Layout>
