---
const { title, img, id } = Astro.props;
---

<a
  href={`/${id}`}
  class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl"
>
  <img
    class="aspect-[389/500] h-full object-cover w-full max-w-full rounded"
    src={img}
    alt={`Image of art box ${title}`}
    style={`view-transition-name: box-${id}`}
  />
</a>
