<h1
  class="font-black uppercase text-6xl md:text-8xl text-center py-8 px-4 mb-10"
  style="view-transition-name: book-title"
>
  Art from
  <span class="block text-[36px] md:text-[58px]">Somebody</span>
</h1>
